.courses_distance {
	position: absolute;
	left : 600px;
	top: 0px;

}

.courses_distance .eqfield {
	z-index: -5;
}

.merry {
	font-family: 'Merryweather', serif;
	font-size: 20px;
    	text-shadow: -2px 0 3px white, 0 2px 3px white, 2px 0 3px white, 0 -2px 3px white;
	}

.merry.texto {
	position: absolute;
	width: 400px;
	padding: 50px;
}

.centro {
	text-align: center;
}

.infosquare{
	margin: 5px;
	padding: 10px;
	border: solid;
	border-radius: 10px;
	border-color: #bbab88;
	font-size: 22px;
	color : #444444;
	text-align: justify;
}

.let {
	border : solid;
	border-radius: 7px;
	border-color: #888;
	background-color: #888;
	text-align: center;
	margin : 4px;
	padding : 0px 3px 0px 4px;
	color : #ddd;
	font-weight: 600;
	text-shadow: none;
	font-family: sans-serif;

}
