.secondexample canvas {
	top:0;
	left : 0;
	position: absolute;
}

.secondexample .textbox{
	padding : 5px;
	margin : 5px;
	font-family: sans-serif;
}

.secondexample .vectag {
	position : absolute;
	z-index : 10;
	font-size: 30px;
	font-weight: bold;
	color: #008844;
	text-shadow: -1px 0 white, 0 1px  white, 1px 0  white, 0 -1px  white;
}

.coursediv {
	font-size: 20px;
	font-family: 'Merriweather', serif;
	color: #454647;
	margin: 10px;
	padding:5px;
}

.courses_distance {
	font-family: 'Merriweather', serif;
}

.axisx {
	font-size: 30px;
	color: #338888;
	position: absolute;
	font-family:'Merryweather' ,serif;
}

a#z-button {
    background: #ccc;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;
    border-radius: 20px;
    }

.down {
	color: #37f ;
	font-weight: bold;
    background:  #226 !important;
    border-top: solid 2px #777 !important;
    border-left: solid 2px #777 !important;
    border-bottom:solid 2px  #eaeaea  !important;
    border-right: solid 2px #eaeaea !important;
     border-radius: 20px;
    }
